@page "/counter"
@inject NavigationManager UriHelper

<h1>Counter</h1>

<p role="status" style="color: @test">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    string test = "green";

    private async void IncrementCount()
    {
        currentCount++;
        test = "red";

        //await Shell.Current.DisplayAlert("Пустые значения",
        //        "Пожалуйста введите логин и пароль для входа!", "Ок");
        UriHelper.NavigateTo("fetchdata");
        
        System.Diagnostics.Process.GetCurrentProcess().Kill();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
    }
}

