body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: rgba(91, 251, 127, 1.00);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-form h4 {
        text-align: center;
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #f2f2f2;
        border-radius: 5px;
        background-color: #f2f2f2;
    }

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
