@page "/offer/{OfferPrice}";
@inject IJSRuntime JS

<style>
    #bottom-nav {
        display: none;
    }
</style>

<h3>Offer</h3>

<h2>@OfferPrice</h2>

@code {
    [Parameter]
    public string OfferPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("clearNavigationStack");
    }

    private async Task OnPopState()
    {
        bool confirmResult = await JS.InvokeAsync<bool>("displayConfirm", "Вы хотите прервать?");

        if (confirmResult)
            return;
    }
}
